<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
Добро пожаловать, <span th:text="${login}"/>! <br>

<a href="/projectStatistic">Просмотр результатов проекта</a><br>
<!--<a href="/controlComands">Управление командами</a><br>-->
<!--<a href="/controlProjects">Управление проектами</a><br>-->
<a href="/support">Техподдержка</a><br>
<a href="/personalAccountUser">Личный кабинет</a><br>
<a href="/listuser">Управление пользователями</a><br>
<a href="/home">Выход</a>

<a></a>
</body>
</html>