<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
Добро пожаловать, <span th:text="${login}"/>! <br>

<nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-primary" href="/formToStatistic">Просмотр результатов проекта</a><br><br>
    <a class="btn btn-primary" href="/controlComands">Управление командами</a><br><br>
    <a class="btn btn-primary" href="/controlProjects">Управление проектами</a><br><br>
    <a class="btn btn-primary" href="/support">Техподдержка</a><br><br>
    <a class="btn btn-primary" href="/personalAccountUser">Личный кабинет</a><br><br>
    <a class="btn btn-primary" href="/listuser">Управление пользователями</a><br><br>
    <a class="btn btn-primary" href="/">Выход</a><br>
</nav>


<a></a>
</body>
</html>